.user-page-top

    position: absolute
    top: 15%
    left: 50%
    transform: translate(-50%)

    width: 75%
    padding: 32px

    display: flex

    background-color: #d4ddda

    border-radius: 30px

    display: flex

    &-information

        &__img_container
            width: 100px
            height: 100px
            border-radius: 100%
            position: relative

            .user-page-top-information__img
                width: 100px
                height: 100px
                position: absolute
                z-index: 10

        &__main
            margin-left: 40px

            &_name
                font-weight: 900
                font-size: 20px

                color: #3f7c66
                letter-spacing: 5px

            &_username
                color: white
                font-size: 16px

            &_interests
                display: block
                font-size: 16px
                letter-spacing: 0.02em

                color: #282828

                display: flex

                margin-top: 20px

            &_contacts
                background: #6358DC
                border-radius: 4px

                margin-top: 20px

                width: 15vw
                height: 40px
                border: none

                font-weight: 600
                font-size: 20px
                line-height: 16px

                text-align: center
                letter-spacing: 0.02em

                color: #FFFFFF

                cursor: pointer

    &__select_interest
        position: absolute
        right: 20px
        height: 50px
        border: none

        cursor: pointer
        background-color: #3f7c66

        border-radius: 15px
        padding: 16px 20px

        color: white
