.mentors-card

    background: #d4ddda
    border-radius: 8px

    color: #FFFFFF

    padding: 24px

    margin-bottom: 20px

    &-upper
        display: flex

        margin-bottom: 18px

        &__img_container
            width: 100px
            height: 100px
            border-radius: 50%
            background-color: red

            margin-right: 8px

            .mentors-card-upper__img

        &__text
            margin-left: 10px

            &_main
                font-size: 30px
                font-weight: 600
                letter-spacing: 10px

                color: #3f7c66
                &::visited

                    text-decoration: none

            &_specialization
                font-size: 20px
                color: white

    &-description
        font-size: 14px

        color: #221530

    &-link
        margin-top: 16px
        display: block

        text-decoration: none
        font-size: 12px
        line-height: 18px

        text-align: right

        color: #34D058
