.header-nav
    height: 7vh
    width: 95%

    padding: 0 5%
    padding-top: 25px

    display: flex
    justify-content: space-between
    align-items: center

    z-index: 10

    position: absolute

    &-logo__container
        height: 65px
        width: 65px

        background-color: red

        .header-nav-logo

    &-company
        font-weight: 500
        font-size: 38px

        color: #000000

    &-main
        margin-left: 100px
        margin-right: 50px
        display: flex
        justify-content: space-between
        width: 35%
        list-style: none

        &__elements
            font-weight: 500
            font-size: 27px

            color: #444444

            &_link
                color: #444444
                text-decoration: none

    &-sign
        font-weight: 500
        font-size: 20px

        color: #444444
        text-decoration: none
