.mentors-page

    &-bio
        background-color: #3f7c66

        color: white
        position: absolute
        top: 33%
        left: 60%
        transform: translate(-50%)

        width: 75%
        padding: 24px 32px

        border-radius: 20px
        &__header
            margin-bottom: 10px

    &__send
        position: absolute
        top: 48%
        left: 12.5%

        width: 15vw
        height: 40px

        border-radius: 15px

        background-color: #221530
        border: none

        color: white
        font-size: 16px
        letter-spacing: 5px
